<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Finance Application</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <header class="bg-dark text-white text-center py-2">
    <h1>Personal Finance Tracker</h1>
  </header>

  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('income') }}">Income</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('expenses') }}">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('budget') }}">Budget</a>
        </li>
        <!-- Additional navbar items here -->
      </ul>
    </div>
  </nav>

  <main class="container my-4 text-white">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="bg-dark text-white text-center py-3 mt-4">
    <p>&copy; {{ current_year }} Personal Finance Application. All rights reserved.</p>
  </footer>

  <!-- Optional: JavaScript files can be included here -->
</body>
</html>
