{% extends "base.html" %}

{% block content %}
<main>
  <div class="container mt-3">
    <h2>Budget Management</h2>
    <form action="{{ url_for('add_budget') }}" method="post" class="mb-4">
      <div class="form-group">
        <label for="category" class="form-label text-white">Category:</label>
        <select class="form-control" id="category" name="category" required>
          {% for category in categories %}
          <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="limit_amount" class="form-label text-white">Limit Amount ($):</label>
        <input type="number" class="form-control" id="limit_amount" name="limit_amount" step="0.01" required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg mt-2">Set Budget</button>
    </form>

    <h2>Budget Records</h2>
    <div class="table-responsive">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Category</th>
            <th>Limit Amount ($)</th>
          </tr>
        </thead>
        <tbody>
          {% for budget in budgets %}
          <tr>
            <td>{{ budget.category }}</td>
            <td>{{ "%.2f"|format(budget.limit_amount) }}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="2" class="text-center">No budget records yet.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
