{% extends "base.html" %}

{% block content %}
<main>
  <div class="container mt-3">
    <h2>Add New Expense</h2>
    <form action="{{ url_for('add_expense') }}" method="post" class="mb-4">
      <div class="form-group">
        <label for="description" class="form-label text-white">Expense Source:</label>
        <input type="text" class="form-control" id="description" name="description" required>
      </div>
      <div class="form-group">
        <label for="category" class="form-label text-white">Category:</label>
        <select class="form-control" id="category" name="category" required>
          {% for category in categories %}
          <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="amount" class="form-label text-white">Amount ($):</label>
        <input type="number" class="form-control" id="amount" name="amount" step="0.01" required>
      </div>
      <button type="submit" class="btn btn-success btn-lg mt-2">Add Expense</button>
    </form>

    <div class="filter-section mb-3">
      <form action="{{ url_for('expenses') }}" method="get">
        <div class="row">
          <div class="col-md-4">
            <select name="month" class="form-control">
              {% for num, name in months %}
              <option value="{{ num }}" {% if num == selected_month %}selected{% endif %}>{{ name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-4">
            <select name="year" class="form-control">
              {% for year in years %}
              <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Filter</button>
          </div>
        </div>
      </form>
    </div>

    <form action="{{ url_for('delete_expenses') }}" method="post">
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col"><input type="checkbox" id="selectAll"></th>
              <th scope="col">Source:</th>
              <th>Category</th>
              <th scope="col">Amount($): </th>
              <th scope="col">Date:</th>
            </tr>
          </thead>
          <tbody>
            {% for expense in expenses %}
            <tr>
              <td><input type="checkbox" name="selected_expenses" value="{{ expense.id }}"></td>
              <td>{{ expense.description }}</td>
              <td>{{ expense.category }}</td>
              <td>{{ "%.2f"|format(expense.amount) }}</td>
              <td>{{ expense.date_posted.strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            {% else %}
            <tr>
              <td colspan="5" class="text-center">No expenses recorded yet.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-danger btn-lg">Delete Selected</button>
    </form>
  </div>
</main>

<script>
  document.getElementById('selectAll').onclick = function() {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var checkbox of checkboxes) {
      checkbox.checked = this.checked;
    }
  }
</script>

{% endblock %}
