{% extends "base.html" %}

{% block content %}
<main>
  <div class="container mt-3">
    <h2>Add New Income</h2>
    <form action="{{ url_for('add_income') }}" method="post" class="mb-4">
      <div class="form-group">
        <label for="source" class="form-label text-white">Income Source:</label>
        <input type="text" class="form-control" id="source" name="source" required>
      </div>
      <div class="form-group">
        <label for="category" class="form-label text-white">Category:</label>
        <select class="form-control" id="category" name="category" required>
          {% for category in categories %}
          <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="amount" class="form-label text-white">Amount ($):</label>
        <input type="number" class="form-control" id="amount" name="amount" step="0.01" required>
      </div>
      <button type="submit" class="btn btn-success btn-lg mt-2">Add Income</button>
    </form>
    <h2>Income Records</h2>
    <form action="{{ url_for('delete_income') }}" method="post" class="mb-4">
      <div class="row">
        <div class="col-md-4">
          <select name="month" class="form-control">
            {% for num, name in months %}
            <option value="{{ num }}" {% if num == selected_month %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <select name="year" class="form-control">
            {% for year in years %}
            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary">Filter</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th><input type="checkbox" id="selectAllIncome"></th> <!-- Checkbox to select all -->
              <th>Source:</th>
              <th>Category</th>
              <th>Amount ($):</th>
              <th>Date:</th>
            </tr>
          </thead>
          <tbody>
            {% for income in incomes %}
            <tr>
              <td><input type="checkbox" name="selected_incomes" value="{{ income.id }}"></td>
              <td>{{ income.source }}</td>
              <td>{{ income.category }}</td>
              <td>{{ "%.2f"|format(income.amount) }}</td>
              <td>{{ income.date_received.strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            {% else %}
            <tr>
              <td colspan="5" class="text-center">No income records yet.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-danger btn-lg">Delete Selected</button>
    </form>
  </main>
  
  <script>
    document.getElementById('selectAllIncome').onclick = function() {
      var checkboxes = document.querySelectorAll('input[name="selected_incomes"]');
      for (var checkbox of checkboxes) {
        checkbox.checked = this.checked;
      }
    }
  </script>
  
  {% endblock %}
  