{% extends "base.html" %}

{% block content %}
<main>
  <div class="container mt-3">
    <h2>Dashboard</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="alert alert-info">
          <h4>Total Expenses: ${{ total_expenses }}</h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="alert alert-success">
          <h4>Total Income: ${{ total_income }}</h4>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Expense by Category
          </div>
          <ul class="list-group list-group-flush">
            {% for category, total in expenses_by_category %}
            <li class="list-group-item">{{ category }}: ${{ total }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Income by Category
          </div>
          <ul class="list-group list-group-flush">
            {% for category, total in income_by_category %}
            <li class="list-group-item">{{ category }}: ${{ total }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
